html { font-size: 100%; }

:root {
  --light-border: #E5E5E5;
  --light-text: #2F2F2F;
  --light-slate: #757575;
  --light-background: #FFFFFF;
  --light-plus: url(icons/plus.svg);
  --light-apple: url(icons/apple.svg);
  --light-spotify: url(icons/spotify.svg);
  --light-google: url(icons/google.svg);
  --light-signature: url(icons/signature.png);
  --light-instagram: url(icons/instagram.svg);
  --light-twitter: url(icons/twitter.svg);
  --light-linkedin: url(icons/linkedin.svg);
  --light-renga: url(icons/renga.svg);
  --light-switch: url(icons/switchleft.svg);
  --light-arrowright: url(icons/arrowright.svg);
  --light-arrowleft: url(icons/arrowleft.svg);

  --dark-text: #FFFFFF;
  --dark-paper: #F3F0EB;
  --dark-background: #2F2F2F; 
  --dark-border:#757575;
  --dark-plus: url(icons/pluswhite.svg);
  --dark-apple: url(icons/applewhite.svg);
  --dark-spotify: url(icons/spotifywhite.svg);
  --dark-google: url(icons/googlewhite.svg);
  --dark-signature: url(icons/signaturewhite.png);
  --dark-instagram: url(icons/instagramwhite.svg);
  --dark-twitter: url(icons/twitterwhite.svg);
  --dark-linkedin: url(icons/linkedinwhite.svg);
  --dark-renga: url(icons/rengawhite.svg);
  --dark-switch: url(icons/switchright.svg);
  --dark-arrowright: url(icons/arrowrightwhite.svg);
  --dark-arrowleft: url(icons/arrowleftwhite.svg);

  --text: var(--light-text);
  --background: var(--light-background);
  --border: var(--light-border);
  --paper: var(--light-text);
  --slatepaper: var(--light-slate);
  --plus: var(--light-plus);
  --apple: var(--light-apple);
  --spotify: var(--light-spotify);
  --google: var(--light-google);
  --signature: var(--light-signature);
  --instagram: var(--light-instagram);
  --twitter: var(--light-twitter);
  --linkedin: var(--light-linkedin);
  --renga: var(--light-renga);
  --switch: var(--light-switch);
  --arrowright: var(--light-arrowright);
  --arrowleft: var(--light-arrowleft);
}
 
.theme-container {
  color: var(--text);
  background-color: var(--background);
}

.dark-mode-checkbox:checked ~ .theme-container {
  --text: var(--dark-text);
  --background: var(--dark-background);
  --border: var(--dark-border);
  --paper: var(--dark-paper);
  --slatepaper: var(--dark-paper);
  --plus: var(--dark-plus);
  --apple: var(--dark-apple);
  --spotify: var(--dark-spotify);
  --google: var(--dark-google);
  --signature: var(--dark-signature);
  --instagram: var(--dark-instagram);
  --twitter: var(--dark-twitter);
  --linkedin: var(--dark-linkedin);
  --renga: var(--dark-renga);
  --switch: var(--dark-switch);
  --arrowright: var(--dark-arrowright);
  --arrowleft: var(--dark-arrowleft);
}

textarea::-webkit-input-placeholder { font-family: Archivo; }

 /* Firefox 18- */
textarea:-moz-placeholder { font-family: Archivo; }

/* Firefox 19+ */
textarea::-moz-placeholder { font-family: Archivo; }

textarea:-ms-input-placeholder { font-family: Archivo; }

textarea::placeholder { font-family: Archivo; }

body {
  margin:0;
}

.page{
  width:1440px;
  margin: 0 auto;
  font-family: Archivo;
}

.slate{ color: #757575; }

/*Links*/
a.activeseason:link {color: var(--paper); text-decoration: none; }
a.activeseason:visited {color: var(--paper); text-decoration: none; }
a.activeseason:hover {color: #4C6F5E;}
a.activeseason:active {color: #757575; opacity: 0.6; }

a.nextseason:link {color: var(--slatepaper); text-decoration: none; }
a.nextseason:visited {color: var(--slatepaper); text-decoration: none; }
a.nextseason:hover {color: #4C6F5E;}
a.nextseason:active {color: #757575; opacity: 0.6; }

a.legal:link {color: var(--text); text-decoration: none; }
a.legal:visited {color: var(--text); text-decoration: none; }
a.legal:hover {color: #757575;}
a.legal:active {color: #757575; opacity: 0.6; }

a.episode:link {color: var(--paper); text-decoration: none; }
a.episode:visited {color: var(--paper); text-decoration: none; }
a.episode:hover {color: #4C6F5E;}
a.episode:active {color: #4C6F5E; opacity: 0.6; }

/*Content grids*/
.header-grid {
  padding-bottom:3.7%;
  display: grid;
  grid-template-columns: 8.4% 33.3% 2.3% 47.7% 8.4%;
  grid-template-rows:  32% 2.4% 50.6% 15%;
  border-bottom: 3px solid var(--border);
}

.header-1 { grid-area: 1/2/3/3; }

.header-2 { grid-area: 1/4/3/5; }

.header-3 { grid-area: 1/5/2/6; }

.header-4 { grid-area: 3/2/4/3; }

.header-5 { grid-area: 3/4/4/5; }

.nav-grid{
  height: 82px;
  display: grid;
  grid-template-columns: 4.4% 17.2% 17.2% 17.2% 44%;
}

.nav-1 { grid-area: 1/2/2/3; }

.nav-2 { grid-area: 1/3/2/4; }

.nav-3 { grid-area: 1/4/2/5; }

.enav-grid{
  height: 82px;
  display: grid;
  grid-template-columns: 8.6% 15% 52.8% 15% 8.6%;
}

.enav-1 { grid-area: 1/2/2/3; }

.enav-2 { grid-area: 1/4/2/5; }

.episode-grid {
  padding-top: 7%;
  padding-bottom: 14.6%;
  display: grid;
  grid-template-columns: 8.4% 23.7% 11.8% 47.7% 8.4%;
  border-top: 3px solid var(--border);
  border-bottom: 3px solid var(--border);
}

.episode-1{ grid-area: 1/2/2/3; }

.episode-2{ grid-area: 1/4/2/5; }

.season-grid {
  padding-top: 7%;
  padding-bottom: 3.5%;
  display: grid;
  grid-template-columns: 8.4% 42.7% 7.2% 33.4% 8.3%;
  border-bottom: 3px solid var(--border);
  border-top: 3px solid var(--border);
}

.season-1 { grid-area: 1/2/2/3; }

.season-2 { grid-area: 1/4/2/5; }

.footer-grid {
  height: 100%;
  padding-top: 5.8%;
  padding-bottom: 2.4%;
  display: grid;
  grid-template-columns: 8.4% 18.1% 10.5% 14.2% 40.5% 8.3% ;
}

.footer-1 { grid-area: 1/2/2/3; }

.footer-2 { grid-area: 1/3/2/4; }

.footer-3 { grid-area: 1/4/2/5;  }

.footer-4 { grid-area: 1/5/2/6; }

.footer-5 { grid-area: 2/2/3/6; }

.navcircle { position: absolute; }
 
.navborder { border-right: 3px solid var(--border); }

.plus {
  content: var(--plus);
}

.apple{
  content: var(--apple);
}

.spotify {
  content: var(--spotify);
}

.google {
  content: var(--google);
}

.signature {
  display: inline-block;
  content: var(--signature);
}

.instagram{
  content: var(--instagram);
}

.twitter {
  content: var(--twitter);
}

.linkedin {
  content: var(--linkedin);
}

.switch {
  display: inline-block;
  content: var(--switch);
}

.dark {
  margin-left: 1.5%; 
}

.arrowright { 
  display: inline-block;
  content: var(--arrowright);
  padding-left: 14.3%;
}

.arrowleft {
  display: inline-block;
  content: var(--arrowleft);
  padding-right: 14.3%;
}

.renga {
  display: inline-block;
  content: var(--renga);
  padding-top: 24.6%;
}

/*Fonts*/
.seasonnav {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 130%;  
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content:center;
}

.sub-l {
  color: var(--paper);
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  display: block;
  padding-bottom:4.2%;
}

.menu {
  font-family: bee, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.75rem;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display:inline-block;
  padding-right:6.2%;
}

.legal {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144%;
  letter-spacing: 0.03em;
  display: block;
}

.legalheader {
  color: var(--slatepaper);
  font-style: normal;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 212%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.sub-s{
  color: var(--paper);
  font-style: normal;
  font-weight: normal;
  font-size: 1.0625rem;
  line-height: 212%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  display: block;
}

.presents { 
  color: var(--paper);
  padding-top: 4.2%;
}

.lights {
  padding-top: 2.9%;
}

.notes {
  padding-top: 12.4%;
  padding-bottom: 3.1%;
}

.h-2 {
  color: var(--paper);
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 110%;
  display: block;
  margin-bottom:1.9%;
}

.h-3 {
  color: var(--paper);
  font-style: normal;
  font-weight: normal;
  font-size: 2.6875rem;
  line-height: 110%;
  letter-spacing: 0.03em;
  display: block;
}

.copy-l {
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 128%;
  letter-spacing: 0.03em;
}

.copy-s {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 128%;
  letter-spacing: 0.03em;
  display: block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text);
  opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--text);
  opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--text);
  opacity: 0.5;
}

.nameinput {
  color: var(--text);
  background-color: var(--background);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  width: 31.7%;
  display: inline-block;
  margin-right:3.4%;
  padding: 1.87% 0 1.87% 3.4%;
}

.emailinput {
  color: var(--text);
  background-color: var(--background);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  width: 64.9%;
  display: inline-block;
  padding: 1.87% 0 1.87% 3.4%;
}

.messageinput {
  color: var(--text);
  background-color: var(--background);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  width: 100%;
  margin-top:3.4%;
  padding: 1.87% 0 8.1% 3.4%;
}

.submit {
  width: 17.3%;
  margin-top: 4.1%;
}

.button {
  border-radius:0;
  border: 1px solid var(--text);
  color: var(--text);
  background-color: var(--background);
  display: inline-block;
  padding: 1.87% 3.4% 1.87% 3.4%;
}

.summary{
  padding-top: 15.8%;
}

.upcoming { padding-bottom: 17.7%; }

.w100 { width: 100%; }

.vertcenter {
  display: flex;
  align-items: center;
}

.audio {
  display: inline-block;
  padding-right: 6.7%;
  padding-top: 6.3%;
}

.social {
  display: inline-block;
  padding-top: 17.2%;
  padding-right: 6.5%;
}

.epaudio {
  display: inline-block;
  padding-top: 8.7%;
  padding-right: 4.7%;
}

#contact-form { padding-top:3.6%; }

.carbonbadge { float: left; }

.legal1 { padding-bottom: 3.8%; }

.legal2 { padding-bottom: 6.6%; }

.legal3 { padding-bottom: 4.9%; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
 
/*Responsiveness*/
@media (max-width: 1440px){
  .page{ width: 100%; }

  .seasonnav { font-size: 1.389vw; }
  
  .sub-l { font-size: 1.389vw; }
  
  .menu { font-size: 3.056vw; }
  
  .legal { font-size: 1.250vw; }
  
  .legalheader { font-size: 1.181vw; }
  
  .sub-s{ font-size: 1.181vw; }
  
  .h-2 { font-size: 3.333vw; }

  .h-3 { font-size: 2.986vw; }
  
  .copy-l { font-size: 2.083vw; }
  
  .copy-s { font-size: 1.667vw; }
  
  .navcircle { width: 19.3vw; }

  .audio{ width: 1.9vw; }
  
  .epaudio{ width: 1.9vw; }

  .social{ width: 1.7vw; }

  .arrow {width: 1.7vw; }

  .switch {width: 1.528vw; }

  .signature { width: 16.5vw; }

  .renga { width: 9.7vw; }

  .nav-grid{ height: 5.7vw; }

  .enav-grid{ height: 5.7vw; }

  .navborder { border-right: 0.208vw solid var(--border); }

  .season-grid {
    border-bottom: 0.208vw solid var(--border);
    border-top: 0.208vw solid var(--border);
  }

  .header-grid {
    border-bottom: 0.208vw solid var(--border);
  }

  .episode-grid {
    border-top: 0.208vw solid var(--border);
    border-bottom: 0.208vw solid var(--border);
  }
}